*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}

.main{
	height: 100vh;
	width: 100%;
	background-color: #2F4F4F
}

#welcome-text{
	font-size: 40px;
	font-family: lato,sans-serif;
	text-align: center;
	color: #032e2e;
}

#welcome{
	padding-bottom: 120px;	
}

.container{
	display: grid;
	justify-content: center;
	align-content: center;
}

#middle{
	justify-content: center;
}

.btn{
	margin: 0px;
	padding:0px;
	background-color: solid black;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid black;
}

.btn:hover{
	border:1px solid black;
}

.grid-container{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 20px;
}

.grid-item{
  background-color: #2F4F4F;
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  width: 105px;
  height: 105px;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading{
	font-family: sans-serif;
	font-size: 50px;
}

.row{
	display: inline;
	font-size: 30px;
}